#settings-wrapper {
  transition: 350ms ease;
}

button .icon path {
  fill: var(--text-color);
}
button:hover .icon path {
  fill: var(--background-color);
}

#start_stop {
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.5rem !important;
}

#timer-label {
  display: flex;
  flex-direction: column;
}
#break-span {
  font-size: 1.2rem;
}

#timer-display {
  display: flex;
  flex-direction: column;
}

.visible {
  visibility: visible;
  opacity: 1;
  
  position: relative;
}
.visible * {
  user-select: none;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  position: absolute;
}

html {
  overflow: hidden;
}

.fa-arrow-down, .fa-arrow-up {
pointer-events: none;
}
