$transition: 800ms;
$space-highlight: hsl(233, 23%, 65%);
$forest-highlight: #b39e57;
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");

@media only screen and (max-width: 600px) {
  footer {
    width: auto !important;
    padding: 0 35px;
  }
}

@media only screen and (max-width: 475px) {
  #session-length,
  #break-length {
    margin: 0 !important;
    padding: 0 !important;
  }
}

a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
}
@mixin flex-center {
  display: flex;
  justify-content: center;
  text-align: center;
}

body {
  transition: $transition;
  #background-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    filter: brightness(0.75);
    z-index: -1;
    transition: ($transition * 1.5) ease-in-out;
  }
  #app-container {
    @include flex-center;
    position: relative;
    padding-top: 8rem;
    font-family: "Space Grotesk", sans-serif;
    #app {
      @include flex-center;
      flex-direction: column;
      min-width: 30vw;
      font-size: 3rem;
      border-radius: 8%;
      filter: brightness(110%);
      p {
        text-shadow: 2px 2px black;
        margin: 10px;
        padding: 16px;
        transition: $transition;
      }
      #break-length,
      #session-length {
        padding: 0 16px;
        display: inline-block;
      }
      #break-label,
      #session-label,
      #timer-label {
        text-transform: capitalize;
      }
      button {
        font-family: "Space Grotesk", sans-serif;
        text-shadow: 4px 2px black;
        margin: 16px;
        padding: 8px 16px;
        border: none;
        border-radius: 8px;
        font-size: 1rem;
        cursor: pointer;
        transition: $transition;
        &:hover {
          text-shadow: none;
        }
      }
      .break-span {
        display: block;
        margin: 16px;
        font-size: 1rem;
      }
      .length-container {
        @include flex-center;
        p {
          font-size: 2rem;
        }
      }
    }
  }
}

#session-increment:hover .fa-arrow-up,
#break-increment:hover .fa-arrow-up {
  animation: arrow-up 0.75s 1;
}
#session-decrement:hover .fa-arrow-down,
#break-decrement:hover .fa-arrow-down {
  animation: arrow-down 0.75s 1;
}

#app p,
#app h1 {
  animation: fade-in 1s;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(90deg) translateY(-25px);
  }
  75% {
    transform: rotate(90deg) translateY(0px);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes space-glow {
  0% {
    box-shadow: none;
  }
  50% {
    box-shadow: 0 0 2em 0.5em $space-highlight;
  }
  100% {
    box-shadow: none;
  }
}
@keyframes forest-glow {
  0% {
    box-shadow: none;
  }
  50% {
    box-shadow: 0 0 2em 0.5em $forest-highlight;
  }
  100% {
    box-shadow: none;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes arrow-up {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes arrow-down {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
