:root[color-scheme="forest"] {
  --background-image: url("./assets/images/forest2.webp");
  --background: #4b3c37;
  --background-secondary: #534540;
  --text-color: #c6c8ad;
  --highlight: #b39e57;
}

:root[color-scheme="space"] {
  --background-image: url("./assets/images/space_theme.jpg");
  --background: black;
  --background-secondary: rgba(255, 255, 255, 0.1);
  --text-color: #cecece;
  --highlight: hsl(233, 23%, 65%);
}

body {
  background-color: var(--background);
}

#background-container {
  background-image: var(--background-image);
  background-position: center;
}

#app p:hover {
  color: var(--highlight);
}

body,
#app button,
.break-span {
  color: var(--text-color);
}
#app button {
  background-color: transparent;
  transition: 400ms;
}
#app button i {
  font-size: 1.2rem;
}
#app button:hover {
  background-color: var(--text-color);
  font-weight: bold;
  color: var(--background);
}
.break-span {
  background-color: var(--background-secondary);
}
.highlight {
  color: var(--highlight);
}
